ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px; 
    padding: 20px;
    list-style: none; 
}

li {
    border: 2px solid rgb(79, 31, 31);
    padding: 20px;
    background-color: rgb(245, 245, 220, 0.65);
    text-align: center;
    color: rgb(79, 31, 31);
    border-radius: 10px;
}

body {
    background-image: url("Outdoor2.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    padding: 20px;
    border: 2px solid rgb(79, 31, 31);
    background-color: rgba(210, 210, 177, 0.65);
}

p {
    margin-top: 2px;
}

h1 {
    color: rgb(79, 31, 31);
}

#homeBtn {
    color: beige;
    background-color: rgb(101, 69, 49);
    border-color: rgb(79, 31, 31);
    padding: 10px;
    border: 2px solid rgb(101, 69, 49);
    text-align: center;
    text-decoration: none;
}